.db-post-list{
  background-color: white;
  border-radius: 10px;
  border: solid 1px #f2f2fc;
  margin-bottom: 30px;

  ul{
    padding: 1.5em;

    &:hover {
    background-color: #fafafa;
}}}

.post-btn-wrapper {
  display: flex;
  align-items: center;
}

.upvote-count{
  height: 40px;
  width: 40px;
  margin-right: 10px;
  font-size:0.9em;
  font-weight: 500;
  border: 1px solid $green;;
  border-radius: 4px;
  transition: all 0.5 ease-in-out;
  color: $green;
  background-color: white;
}
