.content-wrapper {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}


.form-wrapper {
width: 75vh;
padding: 40px;
border: 1px solid;
border-radius: 10px;
border-color: $grey;
background-color: #fff;
}

input {
  width: 100%;

  padding: 12px;
  box-sizing: border-box;
  height: 3em;
  border-radius: 4px;  
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: #fafafa;

  &:active,
  &:focus {
    border: 2px solid $blue;
    outline: none;
    }

}


textarea {
   width: 95%;

  padding: 12px;
  border-radius: 4px;  
  margin-bottom: 20px;
  font-size: 16px;
  height: 10em;
  border: 1px solid #ccc;
  background-color: #fafafa;

  &:active,
  &:focus {
    border: 2px solid $blue;
    outline: none;
    }

}

.form-input-title {
  
}

.form-input-desctoption {
 
  
}

.form-btn {
  display: flex;
align-items: stretch;
justify-content: space-between;
}