body

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.main-wrapper {
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.items-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-right: 50px;
  }

.heading {
  padding-bottom: 24px; 
  font-weight: 900;
}

.one-item-container {
  background-color: white;
  border-radius: 10px;
  border: solid 1px #f2f2fc;
  padding: 1.5em;
  margin-bottom: 1.5em;
}

.items-container-left {

  .one-item-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr 3fr 1fr;
}
}

.items-container-right {
  max-width: 400px;

  .one-item-container {
    display: grid;
    align-content: center;
    padding: 1em;
    margin-left: 1.5em;
    margin-right: 1.5em;

  &:hover {
    background-color: #fafafa;
  }
}
}

.post-img-wrapper {
  img {
  width: 10em;
  height: 10em;
  border-radius: 10px;
}                                                
}

.post-title {
  display: flex;
  align-items: stretch;
  justify-content: space-between
}
  
.post-url-wrapper{
padding: 20px 0 20px 0;
}

.upvotes-count{
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 5px;
  border: solid 1px #f2f2fc;
  p{
    text-align: center;
  }
}
