@mixin base-btn {
  height: 40px;
  width: 100px;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 40px;
  transition: all 0.5 ease-in-out;
  background-color: $green;
  color: $white;

  &:active,
  &:focus {
      outline: none;
  }

  &:hover {
      background-color: $green;
  }
}

@mixin back-btn {
  height: 40px;
  width: 120px;
  font-size:0.9em;
  font-weight: 500;
  border: 1px solid $blue;;
  border-radius: 4px;
  transition: all 0.5 ease-in-out;
  color: $blue;;

  &:active,
  &:focus {
      outline: none;
  }

  &:hover {
      background-color: $blue;
      color: $white;
      transition: all 0.5 ease-in-out;
  }
}
